.A{
    height: 652px;
    width: 652px;
    border: 2px solid black;
    float: left;
}
.B{
    height: 150px;
    width: 150px;
    border: 50px solid green;
    float: left;
   
}
.C{
     height: 35px;
     width: 35px;
     background-color: green;
     border-radius: 4px;
     float: left;
    margin: 20px;
}
.D{
    height: 252px;
    width: 150px;
    border: 2px solid black;
    float: left;
}
.small{
    height: 40px;
    width: 48px;
    border: 1px solid black;
    float: left;
}
.E{
    height: 150px;
    width: 150px;
    border: 50px solid red;
    float: left;
}
.f{
    
    height: 35px;
    width: 35px;
    background-color: red;
    border-radius: 4px;
    float: left;
   margin: 20px;
}
.block{
    height: 150px;
    width: 252px;
    border: 2px solid black;
    float: left;
}
.smal{
    height: 48px;
    width: 40px;
    border: 1px solid black;
    float: left;
}

